.ProductList{
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 90px auto;
}


/* responsive CSS for cell and tablet */
@media only screen and (max-width: 1200px) {
  .ProductList{
    display: flex;
    flex-flow: column;
    margin-top: 170px;
  }
  .ProductList > *{
    margin-top: 40px;
  }
}
